.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding:5px;
}
  button:hover {
    background-color: rgb(61, 43, 184);
  }
  
.equals {
    grid-column: 3;
    background-color: rgb(243, 61, 29);
    width:75px
  }
  
  .equals:hover {
    background-color: rgb(228, 39, 15);
  }